# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
venv/

# Tests cache
.pytest_cache/
.coverage

# Git
.git/
.gitignore

# IDE
.vscode/
.idea/

# Environment
.env

# Logs
*.log

# OS
.DS_Store